.card-container {
    -webkit-perspective: 500px;
    perspective: 500px;
    box-shadow: 0px 0px 25px 10px #9220ec, inset 0px 0px 25px 10px #9220ec;
    border: solid 2px #fff;
    border-radius: 50%;
}

.card-container:hover .card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card {
    -webkit-transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/*Custom Styles*/
.cards-container {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5em;
}

.card {
    width: 6em;
    height: 6em;
    margin: 10px;
}

.card img {
    display: block;
    width: 100%;
}

.front,
.back {
    border-radius: 50%;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

