.island {
    position: relative;
    width: 45%;
}

.island_img {
    width: 80%;
    margin: 0 auto;
    animation: Island 6s ease-in-out infinite;
}

.island_particle {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.5em;
    height: 3.5em;
}

#particle1 {
    top: 50%;
    left: 10%;
}

#particle1.anim {
    animation: topBottom 6s 0.3s ease-in-out infinite;
}

#particle2 {
    top: 38%;
    left: -8%;
}

#particle2.anim {
    animation: bottomTop 6s 1s ease-in-out infinite;
}

#particle3 {
    top: 13%;
    left: -2%;
}

#particle3.anim {
    animation: topBottom 6s 1s ease-in-out infinite;
}

#particle4 {
    top: -1%;
    left: 22%;
}

#particle4.anim {
    animation: bottomTop 6s 0.5s ease-in-out infinite;
}

#particle5 {
    top: 9%;
    left: 48%;
}

#particle5.anim {
    animation: topBottom 6s 0.5s ease-in-out infinite;
}

#particle6 {
    top: 60%;
    left: 30%;
}

#particle6.anim {
    animation: bottomTop 6s 1.5s ease-in-out infinite;
}

#particle7 {
    top: 70%;
    left: 54%;
}

#particle7.anim {
    animation: topBottom 6s 1s ease-in-out infinite;
}

#particle8 {
    top: 42%;
    left: 55%;
}

#particle8.anim {
    animation: bottomTop 6s ease-in-out infinite;
}

#particle9 {
    top: 30%;
    left: 27%;
}

#particle9.anim {
    animation: bottomTop 6s 1s ease-in-out infinite;
}

@keyframes topBottom {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bottomTop {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes Island {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
    }
}