@import url("zeroing.css");
@import url("button.css");
@import url("burger.css");

@font-face {
    font-family: "BigNoodleTitling";
    src: url("/static/fonts/BigNoodleTitling.woff")
}

body {
    background-color: #1F0D35;
    font-family: 'BigNoodleTitling', sans-serif;
}

/* Header */
header {
    font-family: 'BigNoodleTitling', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

.blackout {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: -100vh;
    background: #000;
    opacity: .5;
    backdrop-filter: blur(25px);  
    z-index: 999;
    transition: all 0.3s linear;
}

.blackout.active {
    top: 0;
    left: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0 1em;
}
  
  .nav_wrapper {
    flex-grow: 1;
}
  
  .nav_item {
    color: #fff;
    font-size: 0.8em;
    cursor: pointer;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    box-shadow: inset 0px 0px 13px #FFFFFF;
}
  
.header-logo img {
    width: 90%;
}

.lazy {
    height: 400px;
}

/* Content */
.content-wrapper {
    display: grid;
    grid-template-areas: "filters nfts";
    grid-template-columns: 0.2fr 1fr;
    margin-bottom: 1em;
}

/* Filters */
.nfts-filters {
    grid-area: filters;
    position: relative;
    font-size: 0.8em;
}

.filters-wrapper {
    position: fixed;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 0.5em;
    color: #fff
}

.filter_item {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    text-align: left;
    font-size: 1em;
    width: 5em;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.15s linear;
}

.filter_item:hover {
    opacity: 1;
    padding-left: 0.8em;
}

.filter_item.active {
    opacity: 1;
    padding-left: 0.8em;
}

/* NFTS */
.nfts-wrapper {
    grid-area: nfts ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 1.5em;
    column-gap: 1.5em;
}

/* .nft-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 2em;
    padding: 0 1.5em;
    margin-bottom: 2em;
    position: relative;
}

.nft-row::after {
    content: "";
    position: absolute;
    bottom: -1em;
    transform: translateY(50%);
    width: 100vw;
    height: 20px;
    background-image: url("../content/account/shelf.png");
} */

.nft {
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    border-radius: 1em;
    background: #150824;
    box-shadow: 0 -3px 20px #fff;
}

.nft img {
    width: 100%;
    display: none;
}

.nft svg {
    width: 4em;
}

.arrow-up {
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    padding: 0.5em;
    width: 2em;
    box-shadow: inset 0px 0px 13px #ffffff;
}

.arrow-up img {
    width: 100%;
}

@media (max-width: 870px) {

    .intro {
      padding: 8em 4em 0em 4em;
    }
  
    h1 {
      font-size: 1.5em;
    }

    .header-logo {
        display: flex;
        position: fixed;
        top: 0.5em;
        left: 0.5em;
        width: 75px;
        height: 75px;
        z-index: 1000;
    }

    .header-logo svg {
        width: 60px;
    }
  
    .menu-icon {
      font-size: 2em;
      display: block;
      z-index: 10000;
    }
  
    .nav_wrapper {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 3em;
        margin-top: 7em;
    }

    .nfts-filters {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filters-wrapper {
        position: relative;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .filter_item {
        font-size: 2.5em;
        width: 100%;
        text-align: center;
    }

    .filter_item:hover {
        padding-left: 0.5em;
    }

    .filter_item.active {
        opacity: 1;
        padding-left: 0.5em;
    }
  
    nav {
      display: flex;
      flex-direction: column;
      grid-gap: 2.5em;
      padding-top: 1em;
      width: 100%;
      z-index: 101;
      padding: 0;
      margin-top: 10vh;
    }
  
    .nav_item {
      font-size: 3em;
    }

    .nft {
        width: 40%;
    }
}