.nav_item {
  position: relative;
  padding: 0 20px 0;
  transition: all 0.2s ease;
}
.nav_item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(72px);
  border-radius: 52px;
  width: 1.2em;
  height: 1.2em;
  transition: all 0.3s ease;
  opacity: 0.6;
  z-index: -1;
}
.nav_item::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  display: block;
  border-radius: 28px;
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 52px;
  width: 1.2em;
  height: 1.2em;
  transition: all 0.3s ease;
  z-index: -1;
  opacity: 0.6;
}
.nav_item span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.nav_item:hover:before {
  width: 100%;
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.9;
}

.nav_item:hover:after {
  width: 100%;
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.9;
}
.nav_item:active:before {
    top: 10px;
}
