@import url("zeroing.css");
@import url("button.css");
@import url("island.css");
@import url("burger.css");
@import url("award.css");
@font-face {
  font-family: "Minecraft";
  src: url("/static/fonts/Minecraft.ttf")
 }

@font-face {
  font-family: "BigNoodleTitling";
  src: url("/static/fonts/bigNoodleTitling.woff")
}

body {
  background: linear-gradient(180deg, #FF5289 0%, #2D0740 42.57%, #310000 77.08%, #000000 92.75%);
  color: #FFFFFF;
}

.wrapper {
  overflow: hidden;
}

/* Header */
header {
  font-family: 'BigNoodleTitling', sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.8em 0.5em 0.5em;
}


.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2em;
  height: 2.2em;
  border-radius: 50%;
  box-shadow: inset 0px 0px 13px #FFFFFF;
}

.header-logo img {
  width: 90%;
}

.header-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #A23CB3;
  box-shadow: inset 0px 0px 13px #FFFFFF;
  cursor: pointer;
}

.header-login svg {
  width: 1.5em;
}

.account-name {
  position: relative;
  font-size: 0.8em;
  cursor: pointer;
  color: #fff;
}

.account-name::before {
  position: absolute;
  content: "";
  top: 0;
  left: -0.5em;
  display: block;
  border-radius: 28px;
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(72px);
  border-radius: 52px;
  height: 1.5em;
  transition: all 0.3s ease;
  opacity: 0.9;
  z-index: -1;
  width: 125%;
}

.account-name:hover:before {
  width: 1.2em;
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.9;
}

.account-name:active:before {
  top: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 0 1em;
}

.nav_wrapper {
  flex-grow: 1;
}

.nav_item {
  color: #fff;
  font-size: 0.8em;
  cursor: pointer;
}

.intro {
  display: flex;
  justify-content: space-between;
}

.intro-title {
  display: flex;
  margin: 3em 0 0 3em;
  width: 43%;
}

h1 {
  font-family: "Minecraft", sans-serif;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-shadow: 0px 10px 14px rgba(255, 255, 255, 0.25);
}

.blackout {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -100vh;
  background: #000;
  opacity: .5;
  backdrop-filter: blur(25px);  
  z-index: 999;
  transition: all 0.3s linear;
}

.blackout.active {
  top: 0
}

@media (max-width: 870px) {

  .intro {
    padding: 8em 4em 0em 4em;
  }

  h1 {
    font-size: 1.5em;
  }

  .menu-icon {
    font-size: 2em;
    display: block;
    z-index: 10000;
  }

  .nav_wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  nav {
    display: flex;
    flex-direction: column;
    grid-gap: 2.5em;
    padding-top: 1em;
    width: 100%;
    z-index: 101;
    padding: 0;
    margin-top: 10vh;
  }

  .nav_item {
    font-size: 3em;
  }

  .header-logo {
    display: none;
    font-size: 2em;
  }

  .header-login {
    display: flex;
    position: fixed;
    top: 0.3em;
    left: 0.3em;
    width: 75px;
    height: 75px;
    z-index: 1000;
  }

  .account-name {
    font-size: 2em;
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 10000;
  }

  .header-login svg {
    width: 60px;
  }

  .intro {
    flex-direction: column;
    align-items: center;
    grid-gap: 1.5em;
  }

  .intro-title {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .island {
    width: 85%;
  }

}

.sections_wrapper {
  padding: 0 1em;
}

/* Roadmap */
.roadmap {
  position: relative;
}

.section_title {
  font-family: "Minecraft", sans-serif;
  font-size: 2em;
  letter-spacing: 0.1em;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.roadmap-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 1em;
  padding: 1.5em;
}

.roadmap-item {
  width: 45%;
}

.roadmap-item_title {
  font-family: 'BigNoodleTitling', sans-serif;
  font-size: 1.3em;
  letter-spacing: 1px;
}

.wrapper_glass {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 0.3em 0.4em;
}

.roadmap_point {
  position: relative;
  font-weight: 400;
  font-size: 0.6em;
  font-family: 'Montserrat', sans-serif;
}

.roadmap_point::before {
  content: '';
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 0.5em;
  left: -2.5em;
  background-image: url("../content/icons/complete.webp");
  background-repeat: no-repeat;
  background-size: contain;
}

.roadmap_cubes {
  position: absolute;
  top: -8em;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  height: 40em;
}

.roadmap_orange {
  position: absolute;
  top: -3em;
  right: -2em;
  width: 13em;
  height: 13em;
  background-image: linear-gradient(to right top, #fed600, #ffae1d, #ff863b, #ff6153, #e64467);
  z-index: -2;
  border-radius: 2em;
}

.roadmap_purple {
  position: absolute;
  top: 15em;
  left: -2em;
  width: 13em;
  height: 13em;
  background-image: linear-gradient(to right top, #e64467, #e52f82, #d827a2, #bc34c5, #864ae7);
  z-index: -2;
  border-radius: 2em;
}

.roadmap_green {
  display: none;
  position: absolute;
  top: 50em;
  right: -2em;
  width: 13em;
  height: 13em;
  background-image: linear-gradient(to right top, #00ff1c, #00f798, #00e9de, #00d6fe, #00bef7);
  z-index: -2;
  border-radius: 2em;
}

@media (max-width: 870px) {

  .roadmap-wrapper {
    padding: 1.5em 4.5em;
  }

  .roadmap-item {
    width: 100%;
  }

  .roadmap_point {
    font-size: 1em;
  }

  .roadmap_orange {
    top: 3em;
  }

  .roadmap_purple {
    top: 25em;
  }

  .roadmap_green {
    display: block;
  }

  .roadmap_cubes {
    top: 4em;
    height: 53em;
    width: 100vw;
  }
}

/* NFTS */
.nfts {
  position: relative;
}

.nfts_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.nft_wrapper {
  width: 33.333%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft_fourth {
  display: none;
}

.nft {
  box-shadow: 0px 0px 25px 10px #9220EC;
  border-radius: 33px;
}

.nfts_cubes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

@media (max-width: 920px) {
  .nft_fourth {
    display: block;
  }

  .nft_wrapper {
    width: 50%;
    margin-bottom: 3em;
  }
}

@media (max-width: 670px) {
  .nft_wrapper {
    width: 100%;
    margin-bottom: 4em;
  }

  .nft_wrapper:last-child {
    margin-bottom: 0;
  }

  .nfts_cubes {
    display: none;
  }

  canvas {
    width: 200px;
    height: 360px;
  }
}

/* WhiteList */
.whitelist {
  position: relative;
}

.whitelist-wrapper {
  display: flex;
  justify-content: space-around;
}

.whitelist-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 0.3em 0.4em;
  width: 40%;
}

.form_title {
  font-family: "BigNoodleTitling", sans-serif;
  font-size: 1em;
  letter-spacing: 0.05em;
  text-align: center;
}

.whitelist-form input {
  width: 100%;
  padding: 0.1em 0.3em;
  margin: 0 0 0.8em;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.6em;
}

.whitelist-form label {
  font-family: "BigNoodleTitling", sans-serif;
  font-size: 0.6em;
  text-align: left;
  margin-left: 0.1em;
}

.whitelist-button {
  padding: 0.1em 0.3em;
  margin: 0 0 0.8em;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
  border: 1px solid rgba(255, 255, 255, 0.225);
  border-radius: 12px;
  color: #fff;
  font-family: "BigNoodleTitling", sans-serif;
  font-size: 0.8em;
  cursor: pointer;
  opacity: 1;
  transition: all 0.1s linear;
}

.whitelist-button:hover {
  opacity: 0.5;
}

.dispenser {
  position: relative;
  width: 60%;
}

.dispenser video {
  width: 100vw;
  position: absolute;
  top: -2em;
  left: -7em;
  z-index: -1;
}

@media (max-width: 670px) {
  .whitelist-wrapper {
    align-items: center;
    margin: 1.5em 0;
    flex-direction: column;
  }

  .whitelist-form {
    width: 70%;
    backdrop-filter: blur(7px);
  }

  .form_title {
    font-size: 1.8em;
  }

  .whitelist-form input {
    font-size: 1.2em;
  }

  .whitelist-form label {
    font-size: 1.3em;
  }

  .whitelist-button {
    font-size: 1.5em;
  }

  .dispenser video {
    width: 130vw;
    top: 0.2em;
    left: -11em;
  }
}

/* Bounty */
.bounty {
 position: relative; 
}

.rowgap_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  margin: 1.5em 0;
}

.section_text-content {
  font-family: "BigNoodleTitling", sans-serif;
  font-size: 1em;
  text-align: center;
  text-shadow: 0px 10px 14px rgba(255, 255, 255, 0.25);
  max-width: 85%;
  margin: 0 auto;
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(15px);
  border-radius: 16px;
  padding: 0.2em;
}

.bounty_awards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_phone-only {
  display: none;
}

@media (max-width: 670px) {
  .section_text-content {
    font-size: 1.5em;
  }

  .card_phone-only {
    display: block;
  }

  .cards-container {
    flex-wrap: wrap;
    row-gap: 3em;
    margin: 0 2.5em;
  }

  .card-container {
    box-shadow: 0px 0px 25px 5px #9220ec, inset 0px 0px 25px 5px #9220ec;
  }

  .card {
    width: 8em;
    height: 8em;
  }
}

/* Devs */
.devs {
  position: relative;
}

.devs_smoke {
  position: absolute;
  top: -6em;
  left: -8em;
  z-index: -1;
}

.section_title_upper {
  font-family: "BigNoodleTitling";
  font-size: 2em;
  text-align: center;
  letter-spacing: 0.05em;
  text-shadow: 5px 2px 5px #71083c;
}

.devs_block {
  display: flex;
  justify-content: space-between;
  column-gap: 0.5em;
  align-items: center;
  width: 100%;
}

.devs_member-wrapper {
  display: flex;
}

.devs_member img {
  width: 100%;
}

@media (max-width: 1024px) {
  .devs_smoke {
    left: -15em;
  }
} 

@media (max-width: 670px) {
  .devs_block {
    flex-direction: column;
    row-gap: 1em;
  }

  .devs_smoke {
    left: -43em;
  }

  .devs_member-wrapper {
    display: flex;
    justify-content: space-between;
    width: 85%;
  }

  .devs_member {
    width: 45%;
  }
}

/* Contacts */
.contacts {
  position: relative;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.contacts-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
  z-index: 10;
}

.section_title_upper.lite {
  font-size: 1em;
  line-height: 1.2em;
  margin: 0 0 0 auto;
  text-shadow: 5px 2px 5px #791674;
}

.contacts-content_social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1em;
}

.contacts_icon {
  box-shadow: 0px 0px 0px 0px #a916a1, inset 0px 0px 15px 5px #a916a1;
  border: solid 2px #fff;
  border-radius: 50%;
  padding: 0.4em;
  transition: all 0.1s linear;
  cursor: pointer;
}

.contacts_icon:hover {
  box-shadow: 0px 0px 15px 5px #a916a1, inset 0px 0px 20px 10px #a916a1;
}

.contacts_icon img {
  width: 2em;
}

.quarters {
  width: 60%;
  z-index: -1;
}

.quarters img {
  width: 100%;
}

.contacts_smoke {
  position: absolute;
  top: -5em;
  left: -12em;
  z-index: 1;
  width: 230vw;
}

@media (max-width: 670px) {
  .contacts-wrapper {
    display: block;
  }
  .contacts-content {
    width: initial;
    position: absolute;
    top: 7em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
    margin: 0 auto;
  }

  .quarters {
    width: 100%;
    margin: 0 auto;
  }

  .contacts_smoke {
    top: -7em;
    left: -20em;
    width: 350vw;
  }
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.5em;
  z-index: 10;
}

.our {
  width: 25%;
}

.our-logo {
  width: 100%;
}

.nav-footer {
  width: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'BigNoodleTitling', sans-serif;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.nav_item.footer::after {
  content: none;
}

.arrow-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.partners {
  width: 25%;
  z-index: 10;
}

.partners img {
  width: 100%;
}

@media (max-width: 870px) {
  .nav-footer {
    display: none;
  }

  .our {
    width: 45%;
  }

  .arrow-up {
    display: none;
  }

  .partners {
    width: 45%;
  }

  .our .section_title_upper.lite {
    font-size: 1.5em;
  }
}

@media (max-width: 870px) {
  .nav_item.footer {
    font-size: 1em;
  }
}




